/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

// /delete-node/ &uart1;
// /delete-node/ &uart1_default;
// /delete-node/ &uart1_sleep;

/delete-node/ &i2c1;
/delete-node/ &i2c1_default;
/delete-node/ &i2c1_sleep;

// /delete-node/ &pwm_led0;
// /delete-node/ &pwm0;
// /delete-node/ &pwm0_default;
// /delete-node/ &pwm0_sleep;

/delete-node/ &spi0;
/delete-node/ &spi0_default;
/delete-node/ &spi0_sleep;

/delete-node/ &spi1;
/delete-node/ &spi1_default;
/delete-node/ &spi1_sleep;

/delete-node/ &spi2;
/delete-node/ &spi2_default;
/delete-node/ &spi2_sleep;

/delete-node/ &qspi;
/delete-node/ &qspi_default;
/delete-node/ &qspi_sleep;


/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,uart-mcumgr = &cdc_acm_uart0;
		zephyr,bt-mon-uart = &cdc_acm_uart0;
		zephyr,bt-c2h-uart = &cdc_acm_uart0;
        zephyr,usb-device = &zephyr_udc0;
	};

	leds: leds {
		label = "LEDs";
	};
};

&i2c0 {
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

zephyr_udc0: &usbd {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};

	cdc_acm_uart1: cdc_acm_uart1 {
		compatible = "zephyr,cdc-acm-uart";
	};

	// cdc_acm_uart2: cdc_acm_uart2 {
	// 	compatible = "zephyr,cdc-acm-uart";
	// };
};

&pinctrl {
	// i2c0_default: i2c0_default {
	// 	group1 {
	// 		psels = <NRF_PSEL(TWIM_SDA, 0, 22)>,
	// 			<NRF_PSEL(TWIM_SCL, 0, 24)>;
	// 	};
	// };

	// i2c0_sleep: i2c0_sleep {
	// 	group1 {
	// 		psels = <NRF_PSEL(TWIM_SDA, 0, 22)>,
	// 			<NRF_PSEL(TWIM_SCL, 0, 24)>;
	// 		low-power-enable;
	// 	};
	// };
};
