mainmenu "App config"

config NEOPIXEL_PIN
	int "Neopixel date pin"
	default 2
	help
	  Neopixel data pin

config FND_CLK_PIN
	int "FND clock pin"
	default 3
	help
	  FND clock pin

config FND_DIO_PIN
	int "FND data in out pin"
	default 4
	help
	  FND data in out pin

source "Kconfig.zephyr"